@define-color border #00aaff;
@define-color background #151a1c;
@define-color text #b2d8eb;
@define-color highlight #8f008f;

* {
  font-family: SpaceMono Nerd Font, feather;
  font-weight: 700;
  font-size: 11px;
  color: @text;
}

/* Set background color of main waybar window */
window#waybar {
  background: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}

/* Set background color of tooltips */
tooltip {
  background: @background;
}

/* Set workspace text color and padding */
#workspaces button {
  padding: 0;
  margin: 0;
  border-bottom: 2px solid @background;
}

/* Sets active workspace to have a solid line on the bottom */
#workspaces button.active {
  border-bottom: 2px solid @border;
  border-radius: 0;
}

/* More workspace stuff for highlighting on hover */
#workspaces button.focused {
  color: #a6adc8;
}

#workspaces button.urgent {
  color: #f7768e;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
}

/* Sets background, padding, margins, and borders for (all) modules */
#workspaces,
#disk,
#clock,
#window,
#cpu,
#memory,
#battery,
#pulseaudio,
#network,
#tray,
#mpd {
  background: @background;
  padding: 0 10px;
  margin: 0;
  border-top: 2px solid @border;
  border-bottom: 2px solid @border;
}

#window.empty {
  background: rgba(0, 0, 0, 0);
}

/* Set up rounding to make these modules look like separate pills */
#tray {
  border-radius: 6px;
  margin-right: 4px;
}
#custom-spotify {
  margin-left: 4px;
}

#window {
  background: transparent;
  border: 0;
}

/* Rounding only on left of module */
#network {
  border-left: 2px solid @border;
  border-radius: 6px 0 0 6px;
}

/* Rounding only on right of module(s) */
#workspaces {
  border-right: 2px solid @border;
  border-radius: 0 6px 6px 0;
}

