/* @define-color border #0099ad; */
/* @define-color text #b2d8eb; */
@define-color border #688119;
@define-color textnobg #688119;
@define-color text #feab43;
@define-color background #151a1c;
@define-color highlight #fe2a50;

@keyframes gradient_f {
	0% { background-position: 0% 200%; }
  50% { background-position: 200% 0%; }
	100% { background-position: 400% 200%; }
}

* {
    
  font-family: 'SF Pro Text', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: @textnobg;
  min-height: 0;
  padding: 0 4px;
  margin: 0;
  border-radius: 10px;
}

/* Set background color of main waybar window */
window#waybar {
  background-color: transparent;
}

/* Set background color of tooltips */
tooltip {
  background: rgba(0, 0, 0, 1);
  border: 1px solid @text;
}
tooltip label {
  font-size: 12px;
  font-weight: 600;
  color: @text;
}

#workspaces button.urgent {
  background: @highlight;
}

/* Sets background, padding, margins, and borders for (all) modules */
#disk,
#clock,
#window,
#cpu,
#memory,
#battery,
#pulseaudio,
#tray,
#network,
#mpd {
  padding: 0 10px;
  background: rgba(0,0,0,0.5);
  margin: 6px 0 0 0;
  color: @text;
  font-size: 11px;
}

#workspaces {
  background-color: transparent;
  margin: 6px 0 0 0;
}
#workspaces button {
  background: rgba(0,0,0,0.5);
  margin-left: 4px;

  padding: 0 4px;
}
#workspaces button.active {
    background: @border;
    animation: gradient_f 20s ease-in-out infinite;

    padding: 0 8px;

    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.68);
}

#window.empty {
  background: rgba(0, 0, 0, 0);
}

#custom-spotify {
  margin-top: 8px;
  margin-left: 8px;
  color: rgba(0,0,0,0.5);
  font-size: 11px;
}

#window {
  background: transparent;
}
